button {
  width: 100px;
  height: 100px;
  background: var(--yellow-color) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

button:active {
  outline: none;
  border: none;
}

img {
  width: 32px;
  height: 29px;
  color: yellow;
}

@media (min-width: 320px) and (max-width: 767px) {
  button {
    width: 60px;
    height: 70px;
  }
  img {
    width: 22px;
    height: 19px;
    color: yellow;
  }
}
