
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0px;

}


:root {
  --primary-font: 'Interstate', sans-serif; ;
  --secondary-font: 'ccsignlanguage', sans-serif;
  --white-color: #FFFFFF;;
  --yellow-color: #FFBA00;
  --black-color: #333333;
  --red-color: #FF3100;
}